
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientLib.js @ categories='cq.authoring.dialog'}"></sly>

<h1>tab Placeholder</h1>
<h1>${properties.title}</h1>
<h1>${properties.desc}</h1>
<div data-sly-use.parentField ="com.javadoubts.core.models.TabComponentModel">
      hello
      <p>${parentField.message}</p>
   <ul data-sly-list.parenttitle="${parentField.tab1}">
        <li>${parenttitle.tab1title}</li>
        <ul data-sly-list.childInfo="${parenttitle.nestedTabInfo}">
            <li>${childInfo.nestedTitle}</li>
            <li>${childInfo.link}</li>
        </ul>
    </ul>
</div>