<h1>AEM USER FORM PLACEHOLER</h1>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientLib.all @ categories='user-form'}"></sly>
<div>
  <form>
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.."><br><br>

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br><br>

    <label for="lname">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email address.."><br><br>

    <label for="lname">Address</label>
    <input type="text" id="address" name="address" placeholder="Your address.."><br><br>
  
    <input type="submit" value="Submit" id="user-custom-form">
  </form>
</div>