<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientLib.js @ categories='firstformcheck'}"></sly>
<form>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value="abc@gmail.com"><br><br>
    <input type="submit" value="Submit" id="submit-btn">
</form>